table {
    border-collapse: collapse;
    border: 2px solid grey;
    width: 100%;
    background: greenyellow;

}

th {
    border: 1px solid grey;
    align: center;
    padding: 5px;
    background: greenyellow;
}
td {
    border: 1px solid grey;
    padding: 5px;
    background: greenyellow;
}